body {
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  background-image: url('/images/background80s.jpeg');
  background-position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
}

#mainCanvas {
  background-color: transparent;
  width: 95%;
  margin: 0 auto;
  display: block;
  margin-top: 50px;
  /* background-image: url('images/wave_layer.png'); */
  background-repeat: no-repeat;
  background-color: teal;
  /* box-shadow: 2px 2px 2px 2px white; */
}

/* canvas {
  background-color: transparent;
  width: 100%;
  margin: 0 auto;
  display: block;
} */

.container {
  display: flex;
  flex-direction: row;
  font-size: larger;
  align-items: center;
  align-content: flex-start;
}

.blocks {
  margin: 50px;
}

#gameOver {
  position: absolute;
  visibility: hidden;
}

.footer {
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
}
